<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 100vh"
>
  <div class="row w-100 d-flex justify-content-center align-items-center">
    <div class="col-6">
      <div
        class="card d-flex justify-content-center align-items-center"
        style="min-height: 300px"
      >
        <a class="btn btn-primary px-5" [ngClass]="{'disabled': code}" [href]="loginURL">
          <img src="assets/logo/twitch.png" alt="" style="max-width: 30px" />
          Login
        </a>
      </div>
    </div>
  </div>
</div>
