<app-navbar></app-navbar>
<section class="section container">
  <h2>
    Minhas sessões
  </h2>
</section>
<main class="main container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3" *ngFor="let session of sessions" (click)="goToSession(session)">
          <div class="card-body">
            <h3> {{ session.name }}</h3>
            <span class="badge text-bg-primary"> {{ session.uri }}</span>
          </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row mt-3 ">
    <div class="col-12">
      <div class="card border-primary">
        <div class="card-body d-flex align-items-center justify-content-between">
          <h3 class="m-0"> Adicionar sessão </h3>
          <button class="btn btn-primary d-flex" (click)="goToCreateSession()">
            <span class="material-symbols-outlined">
            add_circle
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
